* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
}

html {
  font-size: 16px;
}

body {
  background-color: #141414;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.items {
  display: flex;
  gap: 0.5rem;
  perspective: calc(var(--index) * 30);
}

.item {
  background-color: #222;
  background-size: cover;
  background-position: center;
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 12);
  cursor: pointer;
  transition: transform 1.25s var(--transition), filter 2s var(--transition),
    width 1.25s var(var(--transition));
  will-change: transform, filter, width;
  filter: grayscale() brightness(0.5);
}

.item::before,
.item::after {
  content: "";
  position: absolute;
  width: calc(var(--index) * 1);
  height: 100%;
}

.item::before {
  right: calc(var(--index) * -1);
}

.item::after {
  left: calc(var(--index) * -1);
}

.items .item:hover {
  transform: translateZ(calc(var(--index) * 8));
  z-index: 0;
  filter: inherit;
}

/* right */

.items .item:hover + * {
  transform: translateZ(calc(var(--index) * 6)) rotateY(40deg);
  z-index: -1;
}

.items .item:hover + * + * {
  transform: translateZ(calc(var(--index) * 3.5)) rotateY(25deg);
  z-index: -2;
}

.items .item:hover + * + * + * {
  transform: translateZ(calc(var(--index) * 1.7)) rotateY(17.5deg);
  z-index: -3;
}

.items .item:hover + * + * + * + * {
  transform: translateZ(calc(var(--index) * 0.3)) rotateY(15deg);
  z-index: -4;
}

/* left */

.items .item:has(+ :hover) {
  transform: translateZ(calc(var(--index) * 6)) rotateY(-40deg);
}

.items .item:has(+ * + :hover) {
  transform: translateZ(calc(var(--index) * 3.5)) rotateY(-25deg);
}

.items .item:has(+ * + * + :hover) {
  transform: translateZ(calc(var(--index) * 1.7)) rotateY(-17.5deg);
}

.items .item:has(+ * + * + * + :hover) {
  transform: translateZ(calc(var(--index) * 0.3)) rotateY(-15deg);
}

/* active */

.items .item:active,
.items .item:focus {
  width: 28vw;
  transform: translateZ(calc(var(--index) * 8));
  z-index: 100;
  filter: inherit;
}
